@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #581b98;
  width: clamp(10rem, 90%, 60rem);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 1rem rgba(88, 27, 152, 0.4),
    /* Outer subtle shadow */ 0 0.3rem 0.6rem rgba(88, 27, 152, 0.6),
    /* Middle vibrant shadow */ inset 0 0.2rem 0.4rem rgba(255, 255, 255, 0.2); /* Soft inner glow effect */
}

.container h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
}

.slider {
max-width: 50rem;
height: auto;
display: flex;
gap: 2rem;
position: relative;
margin: 0 auto;
overflow: hidden;
}

.slide {
flex: 1 0 auto;
width: 100%;
height: auto;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  object-fit: contain;
}

.controls {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .dots-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.dots-container .dot{
    width: 40px;
    height: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
}

.dots-container .dot.active {
    background-color: #000;
}